

<!--ftop开始-->
<div class="ftop">
    <div class="index_search">
        <a href="~/Search/index"><input id="on_click" type="text" placeholder="请输入您要搜索的产品"></a>
        <p><a href="~/Notice/Index"><img src="~/Common/images/icon_05.png"></a></p>
    </div>
    <div style="clear: both;"></div>
</div>

<!--ftop开始-->

