@using Shop.Model
@*<script src="~/Common/js/jquery-1.8.0.js"></script>
<script>
    $(function () {
        $("._bgbtn").click(function () {

            var myProId = $(this).attr("dataid");
            alert(myProId);
            $.ajax({
                type: "post",
                url: "@Html.Action("Index","ListView")",
                data: { "myProId": myProId },
                success: function (data) {
                    //alert(data);
                }
            })
        })
    })
</script>*@
<div class="fenlist">
    <ul id="Pro_UL">
        @foreach (ProductSort item in ViewBag.ProductSortText as List<ProductSort>)
        {
            <li>
                <a class="imga" ><img src="~/Common/images/@item.ProImg"></a>
                <a class="txta" >
                   <a href="~/ListView/Index/@item.ProSorID" style="color:black;"><span class="_bgbtn" dataid="@item.ProSorID">@item.ProName</span></a> 
                    @*<i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>*@
                </a>
            </li>
        }
        @*<li>
            <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
            <a class="txta" href="search_list.html">
                <span>云南特级冬虫夏草1</span>
                <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
            </a>
        </li>
        <li>
            <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
            <a class="txta" href="search_list.html">
                <span>云南特级冬虫夏草</span>
                <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
            </a>
        </li>
        <li>
            <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
            <a class="txta" href="search_list.html">
                <span>云南特级冬虫夏草</span>
                <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
            </a>
        </li>
        <li>
            <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
            <a class="txta" href="search_list.html">
                <span>云南特级冬虫夏草</span>
                <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
            </a>
        </li>
        <li>
            <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
            <a class="txta" href="search_list.html">
                <span>云南特级冬虫夏草</span>
                <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
            </a>
        </li>
        <li>
            <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
            <a class="txta" href="search_list.html">
                <span>云南特级冬虫夏草</span>
                <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
            </a>
        </li>*@
    </ul>
</div>
