
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Notices/_Layout.cshtml";
}
@using Shop.Model;
@{ Html.RenderAction("ProSearch", "ProductSort");}

<script src="~/Common/js/jquery-1.8.0.js"></script>
<script>
    $(function () {
        var id = $(".fen-nav ul li:eq(0) ").attr("data_id");
        ajax(id);
        $(".bg_id").click(function () {
            //alert("测试");
            var Proid = $(this).attr("data_id");
            //alert(Proid);
            @*$.ajax({
                type:"post",
                url:"@Url.Action("Fleat", "ProductSort")",
                data: { "mydata": Proid },
                success: function (data) {
                    $("#Pro_UL").html(data);
                }
            })*@
            ajax(Proid);
        })

        function ajax(id) {
            $.ajax({
                type:"post",
                url:"@Url.Action("Fleat", "ProductSort")",
                data: { "mydata": id },
            success: function (data) {
                $("#Pro_UL").html(data);
            }
        })
        }
        //$(document).on("click", ".bg_id", function () {
        //    //alert($(this).attr("data_id"));
        //    var proid = $(this).attr("data_id")
        //    alert(proid);
        //})
    })
</script>
<!--分类页面-->
<!--分类-->
<div class="fenlei">
    <div class="fen-nav">
        <ul>
            @foreach (ProductSort item in ViewBag.ProductSort as List<ProductSort>)
            {
                <li class="bg_id" data_id="@item.ProID">@item.ProName</li>
            }
            @*<li class="on">冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>
            <li>冬虫夏草</li>*@
        </ul>
    </div>
    <div class="fen-box">
        <div class="fff">
            @{ Html.RenderAction("Fleat", "ProductSort");}
            @*<div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草1</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草2</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草3</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草4</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草5</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草6</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草7</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草8</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草9</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草10</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草11</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草12</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草13</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草14</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草15</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/images/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
</div>
</div>
<!--分类-->
<!--分类页面-->
<!--fixft开始-->
<div class="fixft">
    <a href="index.html"><span><img src="~/Common/images/navicon_45.png" class="img1"><img src="~/Common/images/navicon_28.png" class="img2"></span> <i>首页</i></a>
    <a href="publish.html" class="current"><span><img src="~/Common/images/navicon_48.png" class="img1"><img src="~/Common/images/navicon_30.png" class="img2"></span> <i>分类</i></a>
    <a href="shopcar.html"><span><img src="~/Common/images/navicon_50.png" class="img1"><img src="~/Common/images/navicon_32.png" class="img2"><em>12</em></span> <i>购物车</i></a>
    <a href="center.html"><span><img src="~/Common/images/navicon_42.png" class="img1"><img src="~/Common/images/navicon_35.png" class="img2"></span> <i>我的</i></a>
</div>
<!--fixft结束-->


<script>
    var m=$(window).height()-98;
    $(".fen-nav,.fen-box").css("height",m+"px");


    var $lii = $(".fenlei .fen-nav li");
    //$(".fenlei .fen-box .fenlist").hide();
    //$(".fenlei .fen-box .fenlist").first().show();
    $lii.click(function(){
        var n = $(this).index();
        var h = $(this).height();
        //alert(h)
        var sunh = n * h-1;
        $(".fen-nav").animate({"scrollTop":sunh+"px"},1000)


        $(this).addClass("on").siblings().removeClass("on");
        var indexx = $lii.index(this);
        $('.fenlei .fen-box').animate({scrollTop: '0px'},500);
        //$(".fenlei .fen-box .fff .fenlist").hide();
        //$(".fenlei .fen-box .fff .fenlist").eq(indexx).show();
    })
    var w=$(".fenli li img").width();
    $(".fenli li img").height(w);
    $(window).resize(function(){
        var w=parseInt($(".fenli li img").width());
        $(".fenli li img").height(w);
    })

</script>



